<%= javascript_include_tag "welcome/index.js" %>
<%= stylesheet_link_tag "welcome/index.css" %>

<div id="page-top">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Kalvoor Government Higher Secondary School</a>
        <ul class="nav justify-content-sm-end ml-auto">
          <!--  <li class="nav-item active"><a class="nav-link  js-scroll-trigger" href="#page-top">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Upcoming events</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#blogs">Blogs</a></li>
            <li class="nav-item"><a class="nav-link" href="/welcome/login">login</a></li>
            <li class="nav-item"><a class="nav-link" href="/welcome/register">Sign up</a></li>
        -->
            <li class="nav-item active"><a class="nav-link  js-scroll-trigger" href="#page-top">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#principal_space">Principal page</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a></li>
            
        </ul>         
</nav>

<section id= "home_img">
    <div class= "bgimg-1">
        <div class="caption">
            <span class=""><img  src="assets/scrolldown.jpg"</span>
        </div>
    </div>
</section>

<section id="school_desc">
    <div class="school_desc_text">
        <h3 style="text-align:center;">Kalvoor Government Higher Secondary School</h3>
       
        <p>  

        <%= File.read(File.join Rails.root, 'public',"school_desc.txt") %>

        </p>
    </div>
</section>
<section id="students_img">
    <div class="bgimg-2">
        <div class="caption">
            <span class="border ">
                Learning with nature
            </span>
        </div>
    </div>
</section>
<section id="events">
    <div class="relative">
        <div class="cards">
            <h2>Events</h2>
            Watch out this space for upcoming events.

        </div>
    </div>
</section>

<section id="sports_img">
    <div class="bgimg-3">
        <div class="caption">
            <span class="border ">Our champions </span>
        </div>
    </div>
</section>
<!--<section id="blogs">
    <div class="relative">
        <div class="cards">
            <h2>Blogs</h2>

            <div class="card" >
                <img src="https://www.trumba.com/i/DgDctoKBp2NUnKIEuvb24DlB.jpg" alt="Avatar" style="width:100%;">
                <div class="container">
                    <h4><b>Student blogs</b></h4>
                    <span>Blogs and other writings</span>
                </div>
            </div>

            <div class="card">
                <img src="https://www.trumba.com/i/DgCRxF8jpfvOOogJcXjX6U%2A-.jpg" alt="Avatar" style="width:100%;">
                <div class="container">
                    <h4><b>Teachers section</b></h4>
                    <span>Discussion topics and blogs</span>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="principal_space">
    <img class="small_pic" align="left" src="assets/principal.png"></img>
    <span >
       <%= File.read(File.join Rails.root, 'public',"principal_space.txt") %> 
    </span>

</section>
<section id="contact">
    <div class="">
     <h4 class="section-heading">Get In Touch</h4>
        <div class="row">
            <div class="col-lg-2">
                <i class="fa fa-phone fa-1x"><%= @phone %></i>
                <p></p>
             </div>
             <div class="col-lg-2">
                <i class="fa fa-envelope-o fa-1x"><a class="contactus" href="mailto:your-email@your-domain.com"><%= @email %></a></i>
                <p>
                </p>
             </div>
             <div class="col-lg-2">
                <i class="fa fa-facebook-square fa-1x"><a class="contactus" href="<%= @facebook %>">Page</a></i>
                <p>
                </p>
             </div>
        </div>
        <hr>        
        © 2018 Kalavoor Govt. Higher Secondry School
    </div>  
</section>
</div>